<div class="container" style="margin-top: 70px;">
	<hr class="section-heading-spacer">
	<div class="clearfix"></div>
	<div>
		<h2 class="section-heading">This is the summary of all the
			queries used for this application: Task 6</h2>

		<div class="form-group ">
		<div class="input-group">
			<span class="input-group-addon btn btn-success" id="sizing-addon2">
				<b>Select a Query</b>
			</span>
			<select class="form-control"
				id="sel1">
				<option></option>
				<option>List a company’s workers by names</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
			</select>
		</div>
		</div>
	</div>
</div>
