<hr class="section-heading-spacer">
<div class="clearfix"></div>
<h2>Person CRUD Operations</h2>
<div>

    <hr />
    <br/>
    <div class="row">
        <div class="col-md-3" ng-repeat="operation in operations">
            <a ng-href="#{{operation.path}}"><span class="{{status(operation.name)}}" 
                style="font-size: 1.2em;">{{operation.name}}</span></a> 
        </div>
    </div>
    <hr />
    <h3>Delete</h3>
     <form>
        <div class='row'>
            <div class="bootstrap-iso">
                <div class="col-md-6 col-xs-12">
                    <div class="form-group "><br />
                        <label class="control-label requiredField" for="delete_id">
                            ID
                            <span class="asteriskField">
                                *
                            </span>
                        </label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-user">
                                </i>
                            </div>
                            <input ng-pattern="^[0-9]*$" class="form-control" id="update_id" name="update_id" placeholder="enter an id" type="text"/>
                        </div>
                        <span class="help-block" id="hint_update_id">
                            must be an integer
                        </span>
                    </div>
                    
                    <br />
                    <hr />
                    
                    <div class="form-group">
                        <div>
                            <button ng-click="save(crud)" class="btn btn-success " name="submit" type="submit">
                                Submit
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
